.banner-two {
  background: url('./components/Frontend/images/banner.jpg') no-repeat center / cover;

}


.category-item {
  padding-left: 10px;
  padding-right: 10px;



}

.category-item .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.category-item img {
  width: 100px;
  margin-left: 15px;


}

.category-item .text {
  font-weight: bold;
  font-size: 22px;
  margin-left: 15px;
}

.category-item:hover .container {
  background-color: #dc3545;
  border-radius: 20px;
  color: white;
}

.order_status{
  background: #dcf4f0;
  color: green;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;

}

.payment-status{
  background: #ffebeb;
  color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;

}

.custom-toast-popup {
  /* Container styles */
  background-color: white !important;
  color: black !important;
  /* Change the background color */
  z-index: 9999999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid gainsboro;
}

.swal2-success-circular-line-left{
  background: white !important;
}

.swal2-success-circular-line-right{
  background: white !important;
}

.swal2-confirm{
 
  padding-left: 40px;
  padding-right: 40px;
  border: none !important;

}



.custom-profile-modal-content{
  z-index: 9999;
  width: 800px !important;
  border: 1px solid gainsboro !important;
  left: -60px;
} 

.sc-hLQSwg{

  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
}


.sc-eTNRI {
  font-weight: bold;
  font-size: 18px;
}  

div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
   background: none !important;
}

.sherah__item-switch--slide::after {
  top: 2px !important;
}

.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  
}


